#centerNav>ul>li>a {
    color: #fff;
    font-size: 20px;
}

#centerNav>ul>li {
    width: 20%;
}

.specialFood {
    margin-top: 25px;
}

.left {
    height: 300px;
    background-color: bisque;
    margin: 0
}

.center {
    background-color: #fff;
}

.right {
    height: 300px;
    background-color: blueviolet;
}

.row {
    margin-top: 35px;
    margin-left: 20px;
    width: 90%;
}

.headline {
    margin: 50px auto;
}

.headline h2 {
    text-align: center
}

.pic {
    margin-left: 10px;
    width: 20%;
    background-color: darkgray;
    height: 100px;
    display: inline-block
}

.font {
    margin: 0px;
    padding: 0px;
    height: 100px;
    margin-left: 10px;
    width: 60%;
    background-color: darkslateblue;
    display: inline-block
}

#abc {
    display: flex;
    justify-content: center;
}

body {
    font-family: tahoma;
    font-size: 15px;
    line-height: 1.75;
    margin: 10px, 10px;
    ;
    padding: 0;
}

.total {
    margin-top: 40px;
}

.totalcontainer {
    display: flex;
    padding: 0;
}

.container:hover .mine-item {
    width: 23.5%;
}

.mine-item:hover {
    width: 32.5% !important;
}

.mine-item {
    transform: translate3d(0, 0, 0);
    position: relative;
    width: 25%;
    height: 100%;
    min-height: 600px;
    max-height: 800px;
    color: white;
    overflow: hidden;
    transition: width 0.5s ease;
}

.mine-item:hover .figcaption:after {
    opacity: 0;
}

.figcaption:after {
    transform: translate3d(0, 0, 0);
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(252, 241, 226);
    opacity: 0.8;
    /*不透明度。0透明1不透明*/
    /* transition: opacity 0.5s ease; */
}

.mine-item:hover .figcaption:before {
    transform: translateY(0);
    opacity: 1;
    transition: all 0.5s ease;
}

.figcaption:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(116, 116, 116, 0) 0%, rgba(0, 0, 0, 0.) 90%);
    z-index: 1;
    opacity: 0;
    transform: translate3d(0, 0, 0) translateY(50%);
}

.mine-item:hover .content {
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.75s ease 0.5s;
}

.content {
    width: 100%;
    transform: translate3d(0, 0, 0) translateY(250px);
    position: absolute;
    top: 55%;
    z-index: 1;
    text-align: center;
    padding: 0 1.618em;
    opacity: 0;
}

.content h1 {
    text-transform: uppercase;
    color: deepskyblue;
    font-size: 1.44rem;
    font-weight: normal;
}

.name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    /*相对于自身移动。就相当于把原来左上角的重心移到了正中间*/
    z-index: 2;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.name p {
    text-transform: uppercase;
    font-size: 1.728rem;
    line-height: 1;
    margin: 0;
    padding: 3px;
}

.mine-item:hover .bg {
    filter: grayscale(0);
}

.bg {
    transform: translate3d(0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    transition: filter 0.5s ease;
    filter: graycale(50%);
}

.bottom {
    margin-top: 20px;
    border: 1px solid rgb(240, 237, 237);
    background-color: rgb(248, 245, 245);
}

.shareShow {
    background-color: pink;
    display: inline-block;
    width: 300px;
    height: 300px;
}

.recommend {
    display: inline-block;
    margin-left: 10px;
    position: absolute;
}

h4 {
    padding-top: 20px;
}

.part1 {
    background-color: rgb(247, 247, 247);
}

.paragraph {
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.smallTitle {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times;
}

.picli {
    margin: auto 10px;
    width: 1000px;
}

.picli li {
    width: 200px;
    display: inline-block;
    margin-right: 15px;
}

.picli li+li {
    margin: 10px;
}

.tab_title ul {
    float: left;
    margin: 10px 0 0 50px;
}

.container .tab_title h2 {
    float: left;
    font-weight: 700;
    font-size: 28px;
    line-height: 44px;
}

* {
    margin: 0;
    padding: 0;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

body {
    font-family: 'Microsoft YaHei', Arial, sans-serif;
    color: #333;
    font: normal normal normal 12px/20px Arial, sans-serif;
}

.container #content a {
    height: 100%;
    display: block;
}

.container .tab_title h2 a {
    color: #333;
}

a {
    color: #005bb5;
    text-decoration: none;
    outline: 0;
}

* {
    padding: 0;
    margin: 0;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    /*text-decoration: underline;*/
}

.container .tab_title h2 {
    float: left;
    font-weight: 700;
    font-size: 28px;
    line-height: 44px;
}

.container .tab_title ul {
    float: left;
    margin: 10px 0 0 50px;
}

ul,
menu,
dir {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

body {
    color: #333;
    font: normal normal normal 12px/20px Arial, sans-serif;
}

.container .tab_title ul li.at {
    color: #00c77b;
    border-bottom: 3px solid #00c77b;
    font-weight: 700;
}

.container .tab_title ul li {
    max-width: 84px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    color: #666;
    float: left;
    margin-left: 30px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
}

li {
    list-style: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.clearfix:after {
    content: '.';
    display: block;
    clear: both;
    line-height: 0;
    height: 0;
    visibility: hidden;
}

.infocon .slpnel {
    float: left;
    width: 968px;
}

.infocon .gn_list ul li {
    width: 222px;
    height: 170px;
    position: relative;
    float: left;
    margin: 0 20px 20px 0;
    overflow: hidden;
}

li {
    list-style: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.infocon .gn_list ul li img {
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform .9s ease 0s;
    -moz-transition: -moz-transform .9s ease 0s;
    -o-transition: -o-transform .9s ease 0s;
    -ms-transition: -ms-transform .9s ease 0s;
    transition: transform .9s ease 0s;
}

img {
    border: 0;
}

a {
    color: #005bb5;
    text-decoration: none;
    outline: 0;
}

.infocon {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
}

.contain {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.gonglve_wrap {
    margin-top: 15px;
    padding-bottom: 20px;
}

.cont-main {
    float: right;
    width: 900px;
    margin-bottom: 20px;
}

body,
p,
div {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}

div {
    display: block;
}

.feed-item a {
    display: block;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: #ff9d00;
    cursor: pointer;
}

.cont-main .hr {
    margin-top: 20px;
    height: 1px;
    background-color: #e5e5e5;
    overflow: hidden;
}

.feed-item .stat {
    float: right;
    padding: 0 15px;
    line-height: 30px;
    border: 1px solid #ff9d00;
    border-radius: 15px;
    font-size: 14px;
    background-color: #fff;
    color: #666;
}

.feed-item .stat .num {
    color: #ff9d00;
}

.type strong {
    font-size: 30px;
}

.feed-item .icon-cart {
    width: 16px;
    background-position: -20px -116px;
}

.feed-item .icon-hand,
.feed-item .icon-cart {
    display: inline-block;
    margin-left: 10px;
    width: 15px;
    height: 15px;
    background: url(/images/zr.png) no-repeat -40px -40px;
    overflow: hidden;
    vertical-align: -2px;
}

i,
cite,
em,
var,
address,
dfn {
    font-style: italic;
}

.cont-main .type {
    float: left;
    display: inline-block;
    line-height: 20px;
    font-size: 12px;
    color: #666;
}

.cont-main .type i {
    float: left;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background: url(/images/zr.png) no-repeat 0 0;
    overflow: hidden;
}

.feed-item .title {
    margin-bottom: 15px;
    font-size: 20px;
    color: #333;
}

body,
p,
div {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}

.feed-item {
    font-size: 14px;
    line-height: 24px;
}

.feed-item .txt {
    margin-bottom: 15px;
    color: #666;
}

dl {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a:hover {
    outline: 0;
    text-decoration: underline;
    color: #ff8a00;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: #ff9d00;
    cursor: pointer;
}

.feed-item .art dt {
    display: inline;
    margin-right: 20px;
}

dl,
dt,
dd,
form {
    margin: 0;
    padding: 0;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: #ff9d00;
    cursor: pointer;
}

img {
    border: 0;
    border: 0 none;
    vertical-align: middle;
}

.feed-item .art dd {
    overflow: hidden;
}

dd {
    display: block;
    margin-inline-start: 40px;
}

.feed-item .art .info {
    height: 50px;
    padding-top: 10px;
    margin-bottom: 16px;
    color: #666;
}

body,
p,
div {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}

.feed-item .ext-r {
    float: right;
    color: #999;
    line-height: 22px;
    font-size: 12px;
}

.feed-item .author {
    display: inline-block;
    margin-right: 10px;
    font-size: 12px;
    color: #ff9d00;
}

.navSearch {
    float: left;
    width: 40px;
    font-size: 14px;
}

.drop-pop {
    margin-top: 20px;
    padding-bottom: 20px;
}

.drop-item .trigger {
    padding: 10px 0;
    height: 22px;
    cursor: pointer;
}

.drop-open .drop-pop {
    display: block;
    z-index: 1;
}

.drop-item .trigger i {
    float: right;
    margin-top: 10px;
    border-top: 4px solid #999;
    border-left: 4px dashed transparent;
    border-right: 4px dashed transparent;
    font-size: 0;
    overflow: hidden;
}

.drop-pop ul {
    margin-left: -15px;
}

.drop-pop li {
    float: left;
    margin: 0 15px;
}

.top .num {
    float: left;
    margin-right: 20px;
    font-size: 30px;
    color: #ff9d00;
}

.top li+li {
    border-top: 1px solid #f7f7f7;
    line-height: 24px;
}

.top li {
    padding: 20px 0;
}

.top a {
    color: #333;
    font-size: 14px;
}

.type-div {
    font-size: 30px;
    font-weight: bolder;
    color: gray;
    display: inline-block;
    color: #666;
}