/* ul{list-style: none;}
#topPic{
    background: url(../images/bgPic/userCenterbg.jpg) no-repeat 0 30%;
    background-size: cover;
}
#navW{
    width: 100%;
    height: 60px;
    background-color: #fefefe;
    box-shadow: 0 2px 7px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
}
#navR{
    height: 60px;
    width: 600px;
}
#navR li{
    height: 57px;
    line-height: 60px;
    float: left;
    padding: 0 30px;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    font-size: 20px;
    color: #444;
}
#navR li:hover{
    color: rgb(255, 123, 0);
    border-bottom: 3px solid rgb(255, 123, 0);
}
#navR .clk{
    border-bottom: 3px solid rgb(255, 123, 0);
    color:rgb(255, 123, 0)
}
#navR .unclk{
    border-bottom: 3px solid #fff;
    color:#444
}
#headImg{
    width: 150px;
    height: 150px;
    border-radius: 150px;
    margin: 0 auto;
    position: relative;
    top: -50px;
    background-image: url(../images/headPic/head1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
#headImg:hover::before{
    content: "";
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background: rgba(0,0,0,.5) url(../images/camera.png) 50% no-repeat;
    cursor: pointer;
}
#left input{
    display: none;
}
#content{
    width: 1200px;
    height: 700px;
    margin: 3px auto;
    display: flex;
    justify-content: center;
}
#left{
    width: 200px;
    background-color: #fff;
    box-shadow: 0 2px 7px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#right{
    box-sizing: border-box;
    width: 80%;
    background-color: #fff;
    box-shadow: 0 2px 7px rgba(0,0,0,0.3);
    margin-left: 20px;
}
#userName{
    text-align: center;
    font-size: 30px; 
    position: relative;
    top: -30px;
}

#left>#d1{
    width: 70%;
    display: flex;
    justify-content: center;
}
#left>#d1>a{
    display: block;
    width: 50%;
    text-align: center;
    font-size: 30px;
}
#left>#d2{
    width: 60%;
    height: 30px;
    line-height: 20px;
    font-size: 20px;
    text-align-last:justify;
}
#d2+div{
    margin-top: 20px;
    width: 100%;
    height: 1px;
    box-shadow: 1px 1px rgba(0,0,0,0.3);
} */